<input type="text" [(ngModel)]="title" />
{{ title }}

<div *NgIf="title !== 'sebas'">Esto es un div</div>

<button (click)="addItem(title)">Add item</button>

<div [ngSwitch]="title">
  <p *ngSwitchCase="'a'">Escribiste una A</p>
  <p *ngSwitchCase="'b'">Escribiste una B</p>
  <p *ngSwitchCase="'c'">Escribiste una C</p>
  <p *ngSwitchDefault>No escribiste nada</p>
</div>

<ul>
  <li *ngFor="let name of names; index as i">
    {{ name }} {{ i }} <button (click)="removeItem(i)">Delete</button>
  </li>
</ul>

<div *ngFor="let product of products">
  {{ product.title }}
  <img src="{{ product.image }}" alt="" />
</div>
